@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
    --btn-color: #e58f00;
     --about-sec: #1d1d23;
}
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body{
    background: #ffffff;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color:var(--red);
}
.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background-color: rgb(202, 6, 6);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  z-index: 100;
}
.header #logo img{
    width: 60px;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #ffffff;
}
header .navbar a:hover{
    color: var(--btn-color);
}
#menu-bars{
    color: #666;
    padding: 0.5rem 1rem;
    border: .1rem solid #666;
    border: 8px;
    font-size: 3rem;
    display: none;
}
section{
    padding: 2rem 9%;
}
.home{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}
.home .content{
    flex: 1 1 40re;
    padding-top: 6.5rem;
}
.home .content h3{
    font-size: 5rem;
    color: #333;
}
.home .content p{
    font-size: 1.5rem;
    color: #333;
    font-style: italic;
    font-weight: 1000;
    padding: 1rem 0;

}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--btn-color);
    color: var(--btn-color);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}
.btn:hover{
    color: white;
    border: .2rem solid var(--about-sec);
}
.btn:hover::before{
    width:100%;
    left: 0;
    
  }
.home .image{
    flex: 1 1 40 rem;
}  
.home .image img{
    width: 100%;
    padding: 1rem;
    animation: float 2s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
.speciality-heading{
    font-size: 40px;
    padding: 1.5rem 0;
    text-align: center;
    color: #333;
  }
  .speciality-heading span{
    color: #e58f00;
  }
  .main-box-speciality{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .main-box-speciality .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.1rem solid var(--btn-color);
    cursor: pointer;
    border-radius: 1rem;
  }
  .main-box-speciality .box .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    left: 0;
  }
  
  .main-box-speciality .box:hover .image{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  
  }
  
  .main-box-speciality .box .content{
    background: white;
    text-align: center;
    padding: 2rem;
  }
  .main-box-speciality .box .content img{
    margin: 1.5rem 0;
  }
  .speciality .main-box-speciality .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .main-box-speciality .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

.popular .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.1rem solid var(--btn-color);
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem;
  }

.popular .box-container .box .price{
    position: absolute;
    left: 3rem;
    top: 3rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    background-color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid white;
}

.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.popular .box-container .box .icons{
    position: absolute;
    color: #e58f00;
    display: flex;
    flex-direction: column;
    right: -20%;
    opacity: 0;
    transition: 0.9s;
}
.popular .box-container .box:hover .icons{
    right: 10%;
    opacity: 0.9;
}

.popular .box-container .box .icons i{
    background: white;
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid var(--about-sec);
    padding: 1rem;
}

.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.popular .box-container .box .stars i{
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.main-gallery-box{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-gallery-box .box{
  height:25rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main-gallery-box .box .image{
  height:100%;
  width:100%;
  object-fit: cover;

}

.main-gallery-box .box .content{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  left: 0%;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  padding: 2rem;
  padding-top: 4rem;
  
}
.main-gallery-box .box .content h3{
  font-size: 3rem;
}
.main-gallery-box .box .content p{
  font-size: 1.5rem;
}
.main-gallery-box .box:hover .content{
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}


.main-gallery-box .box .image{
  width: 100%;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 30rem;
  background: var(--btn-color);
  margin-top: 6rem;
  cursor: pointer;
  transition: 0.5s;
}

.review .box-container .box img{
  height: 12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
  transform: rotate(30deg);
  cursor: pointer;
}
.review .box-container .box:hover img{
  transform: rotate(0deg);
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color: var(--about-sec);
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:var(--red);
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1.5rem;
  color: var(--about-sec);
  padding:1rem 0;
}


.footer{
  background:#000;
  text-align: center;
  padding: 6rem 0;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}


.footer .credit span{
  color:var(--red);
}















/* media queries  */
@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }
  .home .image img{
    width: 100%;
    padding-top: 8rem;
  }

}


@media(max-width:768px){

  #menu-bars{
    display: initial;
  }

  .navbar{
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    background: white;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
  }

  .navbar.active{
    top: 100%;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
  }

  .navbar a{
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    display: block;
    border: .2rem solid var(--about-sec);
    border-left: 0.5rem solid var(--btn-color);
  }
  .home .image{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .home .image img{

    width: 95%;
    padding-top: 8rem;
  }

}
@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
    --btn-color: #e58f00;
     --about-sec: #1d1d23;
}
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body{
    background: #ffffff;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color:var(--red);
}
.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background-color: rgb(202, 6, 6);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  z-index: 100;
}
.header #logo img{
    width: 60px;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #ffffff;
}
header .navbar a:hover{
    color: var(--btn-color);
}
#menu-bars{
    color: #666;
    padding: 0.5rem 1rem;
    border: .1rem solid #666;
    border: 8px;
    font-size: 3rem;
    display: none;
}
section{
    padding: 2rem 9%;
}
.home{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}
.home .content{
    flex: 1 1 40re;
    padding-top: 6.5rem;
}
.home .content h3{
    font-size: 5rem;
    color: #333;
}
.home .content p{
    font-size: 1.5rem;
    color: #333;
    font-style: italic;
    font-weight: 1000;
    padding: 1rem 0;

}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--btn-color);
    color: var(--btn-color);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}
.btn:hover{
    color: white;
    border: .2rem solid var(--about-sec);
}
.btn:hover::before{
    width:100%;
    left: 0;
    
  }
.home .image{
    flex: 1 1 40 rem;
}  
.home .image img{
    width: 100%;
    padding: 1rem;
    animation: float 2s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
.speciality-heading{
    font-size: 40px;
    padding: 1.5rem 0;
    text-align: center;
    color: #333;
  }
  .speciality-heading span{
    color: #e58f00;
  }
  .main-box-speciality{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .main-box-speciality .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.1rem solid var(--btn-color);
    cursor: pointer;
    border-radius: 1rem;
  }
  .main-box-speciality .box .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    left: 0;
  }
  
  .main-box-speciality .box:hover .image{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  
  }
  
  .main-box-speciality .box .content{
    background: white;
    text-align: center;
    padding: 2rem;
  }
  .main-box-speciality .box .content img{
    margin: 1.5rem 0;
  }
  .speciality .main-box-speciality .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .main-box-speciality .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

.popular .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.1rem solid var(--btn-color);
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem;
  }

.popular .box-container .box .price{
    position: absolute;
    left: 3rem;
    top: 3rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    background-color: var(--btn-color);
    border-radius: 10px;
    border: 1px solid white;
}

.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.popular .box-container .box .icons{
    position: absolute;
    color: #e58f00;
    display: flex;
    flex-direction: column;
    right: -20%;
    opacity: 0;
    transition: 0.9s;
}
.popular .box-container .box:hover .icons{
    right: 10%;
    opacity: 0.9;
}

.popular .box-container .box .icons i{
    background: white;
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid var(--about-sec);
    padding: 1rem;
}

.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.popular .box-container .box .stars i{
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.main-gallery-box{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-gallery-box .box{
  height:25rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main-gallery-box .box .image{
  height:100%;
  width:100%;
  object-fit: cover;

}

.main-gallery-box .box .content{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  left: 0%;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  padding: 2rem;
  padding-top: 4rem;
  
}
.main-gallery-box .box .content h3{
  font-size: 3rem;
}
.main-gallery-box .box .content p{
  font-size: 1.5rem;
}
.main-gallery-box .box:hover .content{
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}


.main-gallery-box .box .image{
  width: 100%;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 30rem;
  background: var(--btn-color);
  margin-top: 6rem;
  cursor: pointer;
  transition: 0.5s;
}

.review .box-container .box img{
  height: 12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
  transform: rotate(30deg);
  cursor: pointer;
}
.review .box-container .box:hover img{
  transform: rotate(0deg);
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color: var(--about-sec);
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:var(--red);
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1.5rem;
  color: var(--about-sec);
  padding:1rem 0;
}


.footer{
  background:#000;
  text-align: center;
  padding: 6rem 0;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}


.footer .credit span{
  color:var(--red);
}















/* media queries  */
@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }
  .home .image img{
    width: 100%;
    padding-top: 8rem;
  }

}


@media(max-width:768px){

  #menu-bars{
    display: initial;
  }

  .navbar{
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    background: white;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
  }

  .navbar.active{
    top: 100%;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
  }

  .navbar a{
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    display: block;
    border: .2rem solid var(--about-sec);
    border-left: 0.5rem solid var(--btn-color);
  }
  .home .image{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .home .image img{

    width: 95%;
    padding-top: 8rem;
  }

}
@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.heading {
    margin-bottom: 25px; /* Add margin between heading and rules */
}
.row {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    margin-top: 20px;
}

.rules-container {
    margin-right: 140px; /* Increased margin for more space */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-list {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align text to the left */
    margin-bottom: 100px; /* Add margin between rules and button */
    font-size: 30px !important; /* Increase font size */
}
.rule-number {
    font-weight: bold;
    margin-right: 6px;
}

.btn-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add margin to separate the button */
}

.btn-order {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn-order:hover {
    background-color: #45a049;
}

.footer-image img {
    max-width: 100%;
    height: auto;
}

